@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 10px;
    border: none;
    margin-top: 16px;
}

p {
    color: #E5E7EB;
    margin: 0;
}

/* header */

header  {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    padding: 0 150px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

header ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 24px;
}

/* main */

.main {
    display: flex;
    background-color: #1F2937;
    padding: 100px 150px;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}

.main img{
    background-color:#E5E7EB;
    width: 500px;
    height: 220px;
    flex-shrink: 0;
    margin-left: 100px;
}

/* info */

.info h2 {
    font-size: 32px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.info div {
    display: flex;
}

.info div div {
    display: flex;
    flex-direction: column;
}


/* quote */

.quote {
    background-color: #E5E7EB
}

blockquote {
    font-size: 32px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
}

#author {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    color: #1F2937;
}

/* call to action */

.call-to-action {
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
}

.call-to-action h2{
    color: #F9FAF8;
}

/* footer */

footer {
    background-color: #1F2937;
    text-align: center;
}
